<!-- Orderbook Entry Modal -->
<div class="modal fade" id="orderbookEntryModal" tabindex="-1" role="dialog" aria-labelledby="orderbookEntryModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Orderbook Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="instrumentName" class="col-form-label">Instrument Name:</label>
            <input type="input" ng-model="orderbookObj.instrumentName" class="form-control" id="instrumentName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a ng-click="saveOrderbook(orderbookObj)" class="btn btn-primary btn-sm mt-2" href="#" role="button">
          Save
        </a>
        <a class="btn btn-secondary btn-sm ml-1 mt-2" data-dismiss="modal" href="#" role="button">
          Cancel
        </a>
      </div>
    </div>
  </div>
</div> <!-- End of Orderbook Entry Modal -->